defaults: &defaults
  host: localhost
  port: 6379
  username: sprout
  password: sprout

development:
  <<: *defaults

test:
  <<: *defaults
  port: 9736

staging:
  <<: *defaults

production:
  <<: *defaults